@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Old<string>Sezam</string>.Net</h1>

<h2>Dive into the Sezam Archive</h2>
<h3>Unveiling the Voices of a Fractured Nation:</h3>

<p>
    This website serves as a portal to a vast treasure trove of public forum messages 
    exchanged on <strong>Sezam</strong> BBS, a pivotal online space in Yugoslav history. From its
    humble beginnings in 1989 as a Belgrade-based BBS, Sezam blossomed into a vibrant 
    digital haven offering escape from the turmoil of the 1990s.
</p>

<p>
    Unlike other systems focused on file downloads, Sezam carved its niche through 
    passionate public forums. The custom-developed software, a brainchild of Zoran 
    Životić and Dejan Ristanović, empowered users to connect and share their voices 
    on diverse topics from technology and education to sports and politics.
</p>

<p>
    Within months, Sezam's reach exploded, transforming it into a thriving 
    subscription-based community with thousands of users. As its influence grew, 
    so did its capacity, expanding to 15 phone lines and connecting tens of thousands 
    across the former Yugoslavia. During the stifling media blackout under Milošević's 
    regime, Sezam emerged as a rare bastion of unfiltered information and free expression.
</p>

<p>
    In 1995, Sezam entered a new chapter under the leadership of Dragan Zakić and
    Nenad Milenković, who ushered in the era of <strong>SezamNet</strong> with a new software 
    iteration. Its journey ended at the dawn of the 21st century, leaving behind a legacy
    of digital courage and unyielding dialogue.
</p>


<a href="/Conference" class="button">Start Exploring...</a>
