@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Old<string>Sezam</string>.Net</h1>

<h2>SezamNet, the former Yugoslavia BBS</h2>

<p>
    This site is a large trove of public forum messages exchanged on Sezam BBS and 
    later SezamNet during the decade of conflict in ex Yugoslavia.
    This archive stands as a monument to the stormy 1990s in Yugoslavia.
</p>

<p>
    Sezam BBS was founded on November 11, 1989 as one of many single-phone-line night-only
    Bulletin Board Systems in Belgrade, Yugoslavia. Unlike many BBS systems dedicated
    to file download, Sezam focused on public forums 
    (<a asp-page="/Conference/Index">conferences</a>).
    The original BBS software, specially developed by Sezam's founders, Zoran Životić 
    and Dejan Ristanović, enabled users to share their comments on various topics, such as:
    computers, education, sports, politics etc.
</p>

<p>
    Within months Sezam had several thousand users and evolved into a subscription-based
    system on 3 phone lines. During the following years the capacity grew to 15 phone
    lines used by tens of thousands of users from former Yugoslavia who used Sezam to
    communicate and exchange opinions on different topics. During the media blockade
    imposed by Milošević's regime, Sezam was one of the very few media in Serbia that
    was free from the government influence.
</p>

<p>
    In 1995 Sezam BBS became <strong>SezamNet</strong> and continued operation under
    new leadership of Nenad Milenković and Dragan Zakić who wrote the software.
    The system was turned down at the dawn of the new millenium in December 1999.
</p>
