@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This message archive is read-only and in public domain, 20 years after the site ceased operation 
    in Belgrade, Serbia.
</p>