@page
@model Sezam.Web.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateUser.Username" class="control-label"></label>
                <input asp-for="CreateUser.Username" class="form-control" />
                <span asp-validation-for="CreateUser.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.FullName" class="control-label"></label>
                <input asp-for="CreateUser.FullName" class="form-control" />
                <span asp-validation-for="CreateUser.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.StreetAddress" class="control-label"></label>
                <input asp-for="CreateUser.StreetAddress" class="form-control" />
                <span asp-validation-for="CreateUser.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.PostCode" class="control-label"></label>
                <input asp-for="CreateUser.PostCode" class="form-control" />
                <span asp-validation-for="CreateUser.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.City" class="control-label"></label>
                <input asp-for="CreateUser.City" class="form-control" />
                <span asp-validation-for="CreateUser.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.AreaCode" class="control-label"></label>
                <input asp-for="CreateUser.AreaCode" class="form-control" />
                <span asp-validation-for="CreateUser.AreaCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.Phone" class="control-label"></label>
                <input asp-for="CreateUser.Phone" class="form-control" />
                <span asp-validation-for="CreateUser.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.Company" class="control-label"></label>
                <input asp-for="CreateUser.Company" class="form-control" />
                <span asp-validation-for="CreateUser.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.DateOfBirth" class="control-label"></label>
                <input asp-for="CreateUser.DateOfBirth" class="form-control" />
                <span asp-validation-for="CreateUser.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.MemberSince" class="control-label"></label>
                <input asp-for="CreateUser.MemberSince" class="form-control" />
                <span asp-validation-for="CreateUser.MemberSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.LastCall" class="control-label"></label>
                <input asp-for="CreateUser.LastCall" class="form-control" />
                <span asp-validation-for="CreateUser.LastCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.PaidUntil" class="control-label"></label>
                <input asp-for="CreateUser.PaidUntil" class="form-control" />
                <span asp-validation-for="CreateUser.PaidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateUser.Password" class="control-label"></label>
                <input asp-for="CreateUser.Password" class="form-control" />
                <span asp-validation-for="CreateUser.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
