@page
@model Sezam.Web.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            <div class="form-group">
                <label asp-for="User.Username" class="control-label"></label>
                <input asp-for="User.Username" class="form-control" />
                <span asp-validation-for="User.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FullName" class="control-label"></label>
                <input asp-for="User.FullName" class="form-control" />
                <span asp-validation-for="User.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.StreetAddress" class="control-label"></label>
                <input asp-for="User.StreetAddress" class="form-control" />
                <span asp-validation-for="User.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PostCode" class="control-label"></label>
                <input asp-for="User.PostCode" class="form-control" />
                <span asp-validation-for="User.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <input asp-for="User.City" class="form-control" />
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.AreaCode" class="control-label"></label>
                <input asp-for="User.AreaCode" class="form-control" />
                <span asp-validation-for="User.AreaCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Company" class="control-label"></label>
                <input asp-for="User.Company" class="form-control" />
                <span asp-validation-for="User.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.DateOfBirth" class="control-label"></label>
                <input asp-for="User.DateOfBirth" class="form-control" />
                <span asp-validation-for="User.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.MemberSince" class="control-label"></label>
                <input asp-for="User.MemberSince" class="form-control" />
                <span asp-validation-for="User.MemberSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastCall" class="control-label"></label>
                <input asp-for="User.LastCall" class="form-control" />
                <span asp-validation-for="User.LastCall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PaidUntil" class="control-label"></label>
                <input asp-for="User.PaidUntil" class="form-control" />
                <span asp-validation-for="User.PaidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
