<connectionStrings>
  <add name="Sezam" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Sezam;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
</connectionStrings>